 
:root {
	--tabs-border-color: silver;
	--content-background-color: whitesmoke;
	}


.divDemoTabsContainer {
	}
.divDemoTabsContainer .divTabContent {
	font-size: 42px;
	}

.divTabsContainer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
.divTabsContainer .divTabs {
	}
.divTabsContainer .divTabs .nav-tabs > li > a {
	cursor: pointer;
	color: inherit;
	line-height: 16px;
	}
.divTabsContainer .divTabs .nav-tabs {
	margin-bottom: -1px;
	}
.divTabsContainer .divTabs .iTabIcon {
	opacity: .5;
	font-weight: normal;
	padding-right: 2px;
	width: 1em; 
	text-align: left;
	}
.divTabsContainer .divTabs li {
	font-family: "Ubuntu";
	font-size: 16px;
	min-width: 90px;
	border-bottom: 1px solid  var(--tabs-border-color);
	}
.divTabsContainer .divTabs .active {
	border-bottom: 1px solid  var(--content-background-color);
	}

.divTabsContainer .nav-tabs > .active > a, .divTabsContainer .nav-tabs > .active > a:hover, .divTabsContainer .nav-tabs > .active > a:focus {
	background-color: var(--content-background-color);
	border-top-color: var(--tabs-border-color);
	border-left-color: var(--tabs-border-color);
	border-right-color: var(--tabs-border-color);
	}

.divTabsContainer .spCloseBox {
	float: right;
	visibility: hidden;
	font-weight: normal;
	margin-left: 10px;
	}
.divTabsContainer .spCloseBoxDisabled {
	}

.divTabsContainer .popover-title {
	font-weight: bold;
	font-size: 14px;
	}
.divTabsContainer .popover-content {
	}
.divTabsContainer .popover-content td {
	vertical-align: top;
	font-size: 14px;
	padding-bottom: 5px;
	}
.divTabsContainer .popover-content tr td:first-child {
	padding-right: 3px;
	}

.divTabsContainer .divRiverSection .spFeedPubDate, .divTabsContainer .divRiverSection .spFeedTitle {
	background: var(--content-background-color);
	}

.divTabsContainer .divTabContent {
	margin-top: -1px;
	margin-right: 4px;
	min-height: 600px;
	background-color: var(--content-background-color);
	border: 1px solid var(--tabs-border-color);
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	
	outline-color: rgb(28, 30, 33);
	outline-style: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.5) 0px 0px 0px 1px inset;
	box-sizing: content-box;
	
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}


@media screen and (max-width: 576px) { /* the official number used by bootstrap toolkit */
	
	.divTabsContainer {
		width: 100%;
		}
	
	.divTabsContainer .divTabContent {
		padding-left: 15px;
		padding-right: 0;
		}
	
	.divTabsContainer .divTabs li {
		font-size: 16px;
		min-width: 50px;
		}
	
	.divTabsContainer .spCloseBox {
		display: none;
		}
	.divTabsContainer .divTabs .iTabIcon {
		display: none;
		}
	
	}


